<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Song List</title>
    <style>
        .single_line {border: 1px solid #000;}
        .single_line td {padding: 5px;}
      </style>
</head>
<body>

<h2>List of Songs</h2>

<table class="single_line">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Author</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="song : ${songs}">
            <td th:text="${song.title}"></td>
            <td th:text="${song.year}"></td>
            <td th:text="${song.authorName}"></td>
            <td th:text="${song.durationFormatted}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>
