<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Restaurants</title>
</head>
<body>
<h1>Restaurants</h1>
<table border="1" cellpadding="5">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Borough</th>
      <th>Cuisine</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="r : ${list}">
        <td th:text="${r.restaurant_id}">Id</td>
        <td th:text="${r.name}">Name</td>
        <td th:text="${r.borough}">Borough</td>
        <td th:text="${r.cuisine}">Cuisine</td>
    </tr>
  </tbody>
</table>

<!-- Numbered Pagination -->
<div>
  <span th:if="${currentPage > 0}">
    <a th:href="@{/restaurants(page=${currentPage - 1})}">Prev</a>
  </span>

  <span th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
    <a th:if="${pageNum != currentPage}"
       th:href="@{/restaurants(page=${pageNum})}"
       th:text="${pageNum + 1}">Page</a>
    <span th:if="${pageNum == currentPage}" th:text="${pageNum + 1}"></span>
  </span>

  <span th:if="${currentPage < totalPages - 1}">
    <a th:href="@{/restaurants(page=${currentPage + 1})}">Next</a>
  </span>
</div>

<style>
  a {
    margin: 0 5px;
    text-decoration: none;
  }
  .active {
    font-weight: bold;
    text-decoration: underline;
  }
</style>

</body>
</html>
