<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurant Detail</title>
</head>
<body>
<h2>Restaurant Detail</h2>

<form th:action="@{/restaurants/detail/{id}(id=${restaurant.restaurantId})}" th:object="${restaurant}" method="post">
    <table border="1" cellpadding="10">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" style="width: 400px;" /><br/></td>
        </tr>
        <tr>
            <td>Borough:</td>
            <td><input type="text" th:field="*{borough}" /></td>
        </tr>
        <tr>
            <td>Cuisine:</td>
            <td><input type="text" th:field="*{cuisine}" /></td>
        </tr>
    </table>
    <button type="submit">Update</button>
    <div th:text="${message}"></div>
</form>

</body>
</html>
